@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto+Condensed');
body, html {
  font-family: 'Montserrat', 'sans-serif';
  padding: 0px;
  margin:0px;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
.mobile-view-hidden{
    display: none;
}
.background-two{
display: none;
}
.main-nav-bar{
    padding: 0 10px;
    padding-bottom: 0px;
}
.main-nav-bar:hover{
    color: rgb(0, 52, 196);
    transition: .2s;
}
.blue-logo{
    width: 65%;
    margin-top: 10px;
}
.blue-menu{
    display: none;
    /* justify-content: flex-end; */
}
.navbar{
    list-style-type: none;
    display: flex;
    margin-top: 18px;
}
.navbar a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-size: 15;
}
header{
    background-color: white;
    display: flex; 
    justify-content: space-between;
    padding: 0px 100px; 
    margin: 0 auto;  
}
.design-title{
    text-align: left;
    color: #EAEAEA;
    padding-left:10px;
    padding-top: -10px  
}
.ui-grid{
    padding:30px;
    justify-content: center;
}
.mobile-photos-epp{
    max-width: 95%;
    margin-top: 50px;
}
.ui-photo{
    size: 60%;
    padding: 20px;
}
/* .mid-section{
    height: 300px;
    background-color: #161E21;
    color: white;
    padding: 100px;
} */
.mid-section-design{
    background-color:#161E21;
    margin: 0px 0px;
    width:auto;
    height: 2500px;
}
.design-type{
    width: 100px;
    height: 200px;
    background-color: white;
    margin: 100px 50px;
}
.light-container{
    background-color:#EAEAEA;
    margin-left:auto;
    margin-right:auto; 
    width: auto;
    height:100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.social-media-links-design{
    display: grid;
    justify-content: center;
    margin-bottom: auto;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 20px;
    grid-gap: 50px;
}
.numbered-designs{
    text-align: left;
    color: #EAEAEA;
    padding: 0px 10px;
}
