@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto+Condensed');
body, html {
  font-family: 'Montserrat', 'sans-serif';
  padding: 0px;
  margin:0px;
  background-color: rgb(252, 249, 249);
  overflow-x: hidden;
}
.background-two{
display: none;
}
.main-nav-bar{
    padding: 20px;
    padding-bottom: 0px;
}
.main-nav-bar:hover{
    color: blue;
    transition: .5s;
}
.blue-logo{
    object-fit: cover;
    object-position: 100% 0;
    width: 263px;
    height: 70px;
}
.blue-menu{
    display: hide;
    /* justify-content: flex-end; */
}
.navbar{
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
    color: #002588;
    font-size: 24px;
}
header{
    background-color: white;
    display: flex; 
    justify-content: space-between;
    padding: 5px 100px; 
    margin: 0 auto;  
}
.background-picture {
    max-width: 80%;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 70px;
    position: relative;
    margin-bottom: 100px;
}
.welcome-text, .my-name{
    width: 50%;
    margin-left: 15%;
    margin-top: 20%;
    font-size: 25px;
    font-weight: 100;
    position: absolute;
    top: 0;
    color: white;
    line-height: 60px;
    
}
.my-name{
    font-size: 18px;
    margin-top: 25%;
}
.learn-more{
    margin-left: 15%;
    margin-top: 32%;
    margin-bottom: 5%;
    font-size: 15px;
    font-weight: 100;
    position: absolute;
    width: fit-content;
    top: 0;
    color: white;
    background-color: navy;
    border-radius: 5%;
    padding: 10px 10px;
}
.text-inside-learn-more{
    text-align: center;
}
.learn-more:hover{
    background-color: black;
    transition: .5s;
}
.my-bio{
    display: none;
}
.my-bio-shown{
    display: block;
}
.my-bio-desktop{
    font-size:15px;
    /*margin: 60px 40px;*/
    line-height: 30px;
    width: 43%;
    height: auto;
    color: white;
    position: absolute;
    top: 0;
    margin-top: 20%;
    margin-left: 45%;
    line-height: 40px;
    text-align: center;
}
.dark-container{
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 34, 46);
    margin-left:auto;
    margin-right:auto; 
    width: auto;
    height: 275px;
}
.nav-list-pics{
    display: none;
}
.cards{
    margin: 80px;
}
.card-name-designer{
    margin-left:20px -10px;
}
.card-name-cinematographer{
    margin-left:-30px;
}
.card-name-photographer{
    margin:20px -15px;
}
.card-name-developer{
    margin-left:-5px;
}
.light-container{
    background-color:#EAEAEA;
    margin-left:auto;
    margin-right:auto; 
    width: auto;
    height:100px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.social-media-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom:30px;
}
.youtube-links{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 400px 400px;
    grid-gap: 40px;
    padding-left: 30px;
    padding-right: 60px;
}
.ind-link{
    width: 30px;
    height: 50px;   
}

@media (max-width:414px){
    body{
        background-color: rgb(254, 254, 254);
    }
    .navbar a{
        display: none;
    }
    header{
        padding: 0;
    }
    .blue-logo{
        width: 50%;
        margin: 0 60%;
        margin-bottom: -20px;
        height: auto;
    }
    .welcome-text, .my-name, .learn-more{
        display: block;
        position: inherit;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        color: #002588;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .welcome-text, .my-name{
        margin: 0;
    }
    .learn-more{
        position: inherit;
        margin: 0 auto;
        margin-top: 30px;
        padding: 5px 5px;
        background-color: rgb(0, 8, 99);
        color: #ffffff;
        max-width: 70%;
        margin-bottom: 50px;
    }
    .background-picture{
        display: none;
    }
    .background-two{
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
    }
    .dark-container{
        display: none;
        height: auto;
    }
    .nav-list-pics{
        display: block;
    }
    .nav-list-pics a {
        margin-top: 40px;
    }
    .cards{
        padding-top: 50px;
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
        max-width: none;
    }
    .card-name-cinematographer{
        margin-left: 0;
    }
    .cinema-icon{
        margin-right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .cards-photo{
        padding-bottom: 20px;
    }
    .iphonex-dark-photo{
        display: none;
    }
    .my-bio{
        display: none;
    }
    .my-bio-shown{
        display: block;
    }
    .my-bio-desktop{
        max-width: 70%;
        font-size:15px;
        line-height: 30px;
        width: 70%;
        height: auto;
        color: #002588;
        margin: 20% auto;
        position: relative;
        /* text-align: center; */
    }
}
@media (max-width:375px){
    body{
        background-color: rgb(254, 254, 254);
    }
    .navbar a{
        display: none;
    }
    header{
        padding: 0;
    }
    .blue-logo{
        width: 50%;
        margin: 0 50%;
        margin-bottom: -20px;
        /* margin-left: 35%;
        margin-right: 25%; */
        height: auto;
    }
    .welcome-text, .my-name, .learn-more{
        display: block;
        position: inherit;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        color: #002588;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .welcome-text, .my-name{
        margin: 0;
    }
    .learn-more{
        position: inherit;
        margin: 0 auto;
        margin-top: 30px;
        padding: 5px 5px;
        background-color: rgb(0, 8, 99);
        color: #ffffff;
        max-width: 70%;
        margin-bottom: 50px;
    }
    .background-picture{
        display: none;
    }
    .background-two{
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
    }
    .dark-container{
        display: none;
        height: auto;
    }
    .nav-list-pics{
        display: block;
    }
    .nav-list-pics a {
        margin-top: 40px;
    }
    .cards{
        padding-top: 50px;
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
        max-width: none;
    }
    .card-name-cinematographer{
        margin-left: 0;
    }
    .cinema-icon{
        margin-right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .cards-photo{
        padding-bottom: 20px;
    }
    .iphoneplus-dark-photo{
        display: none;
    }
}
@media (max-width:3456){
    .welcome-text{
        margin-top: 15%;
    }
    .my-name{
        margin-top: 17%;
    }
    .learn-more{
        margin-top: 20%;
    }
}
