@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto+Condensed');
body, html {
  font-family: 'Montserrat', 'sans-serif';
  padding: 0px;
  margin:0px;
  background-color: rgb(252, 249, 249);
  overflow-x: hidden;
}

.main-nav-bar{
    padding: 20px;
    padding-bottom: 0px;
}
.main-nav-bar:hover{
    color: blue;
    transition: .5s;
}
.blue-logo{
    object-fit: cover;
    object-position: 100% 0;
    width: 263px;
    height: 70px;
}
.blue-menu{
    display: hide;
    /* justify-content: flex-end; */
}
.navbar{
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
    color: #002588;
    font-size: 24px;
}
header{
    background-color: white;
    display: flex; 
    justify-content: space-between;
    padding: 5px 100px; 
    margin: 0 auto;  
}
.background-picture {
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 70px;
}
.welcome-text{
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 179px;
    margin-top: -5px;
    font-size:35px;
    font-weight: 100;
    position: relative;
    top: -650px;
    color: white;
}
.learn-more{
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    margin-left: 179px;
    margin-top: 95px;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -650px;
    color: white;
    background-color: navy;
    width: auto;
    padding: 5px;
    margin-right: 1000;
}
.text-inside-learn-more{
    display: flex;
    justify-content: center;
}
.learn-more:hover{
    background-color: black;
    transition: .5s;
}
.my-bio{
    display: none;
    font-size:15px;
    margin: 60px 40px;
    line-height: 30px;
    width: auto;
    height: auto;
}
.dark-container{
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 34, 46);
    margin-left:auto;
    margin-right:auto; 
    width: auto;
    height: 275px;
}
.cards{
    margin: 80px;
}
.card-name-designer{
    margin-left:20px -10px;
}
.card-name-cinematographer{
    margin-left:-30px;
}
.card-name-photographer{
    margin:20px -15px;
}
.card-name-developer{
    margin-left:-5px;
}
.light-container{
    background-color:#EAEAEA;
    margin-left:auto;
    margin-right:auto; 
    width: auto;
    height:100px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.social-media-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom:30px;
}
.youtube-links{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 400px 400px;
    grid-gap: 40px;
    padding-left: 30px;
    padding-right: 60px;
}
.ind-link{
    width: 30px;
    height: 50px;   
}
