@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto+Condensed');
body, html {
  font-family: 'Montserrat', 'sans-serif';
  padding: 0px;
  margin:0px;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  
}
.main-nav-bar{
    padding: 20px;
    padding-bottom: 0px;
}
.main-nav-bar:hover{
    color: blue;
    transition: .5s;
}
.blue-logo{
    object-fit: cover;
    object-position: 100% 0;
    width: 263px;
    height: 70px;
}
.blue-menu{
    display: hide;
    /* justify-content: flex-end; */
}
.visual-page{
    background-color: #d4e0ff;
    padding: 0 5px;
    /* padding-bottom: 3px;
    border-bottom: #002588;
    border-width: 2px; */
}
.navbar{
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
    color: #002588;
    font-size: 24px;
}
header{
    background-color: white;
    display: flex; 
    justify-content: space-between;
    padding: 5px 100px; 
    margin: 0 auto;  
}
.mid-section-visual{
    /* display:grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 500px; */
}
.photos-grid{
    justify-content: center;
    background-color: rgb(255, 255, 255);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;

    /*grid-template-rows: 130px 130px 130px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 20px; */
    padding-top: 25px;
}
.photos-grid-one{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 70px;
}
.ind-photo{
    object-fit: cover;
    object-position: 50% 0;
    width: 350px;
    height: 350px;
}
.photos-header-text{
    text-align: center;
    color: rgb(48, 48, 48);
    font-size:20px;
    padding: 25px;
    border-bottom: #002588;
    border-width: 1px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 35px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;

}
.light-container{
    background-color:#EAEAEA;
    margin-left:auto;
    margin-right:auto; 
    width: auto;
    height:100px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.social-media-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom:30px;
}
.youtube-links{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 400px 400px;
    grid-gap: 40px;
    padding-left: 30px;
    padding-right: 60px;
}
.ind-link{
    width: 30px;
    height: 50px;   
}
